/*
==========================================================================
   START ARROW COMPONENT
==========================================================================
*/

.c-arrow__right {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $global-color-primary;
    display: block;
}

/*
==========================================================================
   END ARROW COMPONENT
==========================================================================
*/