/*
==========================================================================
   START YIELD COMPONENT
==========================================================================
*/

.c-yield {
    padding: 100px 0;
}

.c-yield__wire {
    margin-top: 40px;
    // transition: all .3s linear;
    // opacity: 0;
    // transform: scale(0,0);
}

.c-yield__public {
    transition: all .3s linear;
    opacity: 0;
    transform: scale(0, 0);
    &.active {
        opacity: 1;
        transform: scale(1, 1);
    }
}


/*
==========================================================================
   END YIELD COMPONENT
==========================================================================
*/