/*
==========================================================================
   START BUTTON COMPONENT
==========================================================================
*/

.c-button {
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    &--small {
        width: 110px;
        height: 36px;
        line-height: 36px;
    }
    &--large {
        width: 160px;
        height: 46px;
        line-height: 46px;
    }
}

.c-button__shop {
    border: 1px solid #f06b80;
    color: #f06b80;
    background-color: #fff;
    transition: all .3s linear;
    display: inline-block;
    line-height: 36px;
    &:hover {
        color: #fff;
        background-color: #f06b80
    }
}

.c-button__most {
    background-color: #e0514b;
    span {
        color: #fff;
        font-size: 12px;
        font-weight: normal;
    }
    &:hover {
        background-color: #fff;
        border: 1px solid #e0514b;
        span {
            color: #e0514b;
        }
    }
}

.c-button__default {
    background-color: #747474;
    span {
        color: #fff;
        font-size: 12px;
        font-weight: normal;
    }
    &:hover {
        background-color: #fff;
        border: 1px solid #747474;
        span {
            color: #747474;
        }
    }
}

.c-button__slider { 
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 3;
    width: 50px;
    height: 50px;
    border: 2px solid #f1d5ba;
    background-color: rgba(139, 111, 83, 0.4);
    border-radius: 50%;
    text-align: center;
    transition: all .3s linear;
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 100%;
    }
    &:hover {
        .fa {
            color: $global-color-primary;
        }
    }
    &--next {
        right: 40px;
    }
    &--prev {
        left: 40px;
    }
}

.c-button__slider .fa {
    transition: all .3s linear;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
}


.c-button__white {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    width: 150px;
    height: 45px;
    line-height: 40px;
    color: #fff;
    transition: all .3s linear;
    &:hover, &--active {
        background-color: #fff;
        color: $global-color-primary;
    }
}


.c-button__collection {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    width: 150px;
    height: 45px;
    line-height: 40px;
    color: #012d1f;
    background-color: #fff;
    transition: all .3s linear;
}


/*
==========================================================================
   END BUTTON COMPONENT
==========================================================================
*/

