/*
==========================================================================
   START HEADER COMPONENT
==========================================================================
*/

.c-header {
    @include font-family(Montserrat);
    border-top: 2px solid #f87617;
    padding: 15px 0 0 0;
}

.c-header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-header__topbar {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.c-header__bottombar {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-right: 20px;
}

.c-header__ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.c-header__li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:hover {
        ul{
            opacity: 1;
            visibility: visible;
        }
    }
    &+& {
        border-left: 1px solid #dddddd;
    }
    i {
        font-size: 14px;
    }
    span {
        margin: 0 10px;
        color:#686868;
        font-size: 12px; 
    }
    &--languages {
        img {
            width: 22px;
        }
    }
    &--wishlist {
        span {
            font-weight: bold;
            color: #010101;
        }
    }
}

.c-header__submenu {
    width: 140px;
    padding: 0 10px;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    transition: $global-transition;
    border-bottom: 2px solid $global-color-primary;
    box-shadow: 0px 3px 18px -5px #000;
    li {
        border-bottom: 1px solid #f5f5f5;
        padding: 5px 0;
        a {
            font-size: 12px;
            &.active, &:hover {
                color: $global-color-branch;
            }
        }
    }
}

.c-header__mega {
    font-size: 14px;
    font-weight: bold;
}

.c-header__mega__ul {
    display: flex;
    align-content: center;
}

.c-header__mega__li {
    position: relative;
    &+li {
        margin-left: 50px;
    }
    a {
        span {
            margin-right: 10px;
        }
    }
}

.c-header__mega__submenu {
    border-bottom: 2px solid $global-color-primary;
    background-color: #fff;
    box-shadow: 0px 3px 18px -5px #000;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    li {
        border-bottom: 1px solid #f5f5f5;
        padding: 15px 0;
        a {
            font-weight: normal;
            &.active, &:hover {
                color: $global-color-primary;
            }
        }
    }
    &--home {
        width: 210px;
        padding: 0 20px;
    }
}

.c-header__cart {
    position: relative;
    margin-left: 50px;
    &--number {
        position: absolute;
        z-index: 1;
        top: -11px;
        left: 10px;
        background-color: $global-color-primary;
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }
}

/*
==========================================================================
   END HEADER COMPONENT
==========================================================================
*/