/*
==========================================================================
   START COLLECTION COMPONENT
==========================================================================
*/

.c-collection {
    text-align: center;
    padding: 100px 0;
    background: url(../images/home/banner-md.jpg) no-repeat center center;
    background-size: cover;
    color: #012d1f;
}

.c-collection__lead {
    font-size: 50px;
}

.c-collection__title {
    font-size: 75px;
    margin: -20px 0 30px 0;
    font-weight: bold;
}

/*
==========================================================================
   END COLLECTION COMPONENT
==========================================================================
*/