.c-header
    .o-container.container
        .c-header__container
            .c-header__logo
                a(href="")
                    img(src="../images/logo.png", title="Logo Misty" alt="Logo Misty")
            .c-header__bar
                .c-header__topbar
                    .c-header__language lang
                    .c-header__currency currency
                    .c-header__signin signin
                    .c-header__account my account
                    .c-header__wishlist wishlit
                    .c-header__search searc
                .c-header__menu this is menu
