extends ./components/layout.pug

block title
    - var titlePage = "Misty - Home"

block content
    .c-banner
        .c-banner__waves
        .c-banner__mouse
            img(src="./images/img-mouse.png", title="Mouse", alt="Mouse")
        .c-banner__slider.js-banner
            .c-banner__item
                img.c-banner__item__people(src="./images/bg-people.png", title="People", alt="People")
                div.c-banner__item__bg.c-banner__item__bg--img1
                .c-banner__item__caption.c-banner__item__caption--slider1
                    p Fashion Boy
                    h1 AUTUMN WINTER
                    b 2017/18
                    a.c-button.c-button__white Shop Now
            .c-banner__item
                div.c-banner__item__bg.c-banner__item__bg--img2
                .c-banner__item__caption.c-banner__item__caption--slider2
                    p Welcome To StyleShop
                    h1 FLASH SALE OFF <span>70%</span>
                    a.c-button.c-button__white.c-button__white--active Shop Now
            .c-banner__item
                div.c-banner__item__bg.c-banner__item__bg--img3
                .c-banner__item__caption.c-banner__item__caption--slider3
                    p SALE 50% OFF
                    h1 END OF SEASON
                    a.c-button.c-button__white.c-button__white--active Shop Now

